<h1>Lista de Posts:</h1>
<a href="/cad"><button>Criar psotagem</button></a>
{{#each posts}}

    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    <a href="/deletar/{{dataValues.id}}"><button>Deletar</button></a>

    <hr>

    <small> 
        {{dataValues.createdAt}}
    </small> 
{{/each}}